@{
    ViewData["Title"] = "Form 4";
}

<div class="text-center">
    <h1 class="display-4">Form 4</h1>

    <form enctype="multipart/form-data" method="post">
        <hr />
        <input type="file" name="photo" />
        <hr />
        <input type="submit" value="Submit" />
    </form>
</div>